<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/930da6b5-6422-4561-9109-883a4e081e1c/resourceGroups/Grenato/providers/Microsoft.Web/sites/modelbh</ResourceId>
    <ResourceGroup>Grenato</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://modelbh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://modelbh.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>46570bdd-08e8-457a-a945-3ba7490cb8c3</ProjectGuid>
    <MSDeployServiceURL>waws-prod-cq1-021.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>modelbh</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$modelbh</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>